In [1]:
import numpy as np
import pandas as pd
import scipy as sc

from scipy.spatial.distance import cdist
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.model_selection import KFold
from sklearn.cluster import KMeans
from sklearn.svm import SVC
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression, Ridge

In [10]:
df_stats_all = pd.read_csv('NBA_player_datasets/NBA_player_stats_all.csv', index_col=[0])
# np_stats_all = df_stats_all.to_numpy()

df_stats_all.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [11]:
df_stats_all.shape

(12305, 21)

In [4]:
df_stats_train = pd.read_csv('NBA_player_datasets/NBA_player_stats_train.csv', index_col=[0])

df_stats_train[:5]

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [5]:
df_stats_train.shape

(9888, 21)

In [6]:
df_stats_test = pd.read_csv('NBA_player_datasets/NBA_player_stats_test.csv', index_col=[0])

df_stats_test[:5]

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
18,Eric Piatkowski,LAC,26.0,200.66,97.52228,Nebraska,USA,1994,1,15,...,6.0,1.6,0.8,2.4,0.071,0.088,0.220,0.579,0.111,1996-97
29,Dennis Scott,ORL,28.0,203.20,106.59412,Georgia Tech,USA,1990,1,4,...,12.5,3.1,2.1,1.9,0.021,0.092,0.188,0.519,0.106,1996-97
43,Don MacLean,PHI,27.0,208.28,106.59412,UCLA,USA,1992,1,19,...,10.9,3.8,1.0,-5.9,0.060,0.152,0.264,0.493,0.091,1996-97
44,Don Reid,DET,23.0,203.20,113.39800,Georgetown,USA,1995,2,58,...,2.8,2.1,0.3,-1.5,0.092,0.159,0.154,0.523,0.053,1996-97
48,Donny Marshall,CLE,24.0,200.66,104.32616,Connecticut,USA,1995,2,39,...,3.1,1.3,0.4,-8.7,0.045,0.118,0.190,0.476,0.085,1996-97

In [7]:
df_stats_test.shape

(2417, 21)